<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Credits</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeCredits()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="card credits-card">
      <div class="item item-text-wrap">
        App developed by:
        <a href="#" onclick="window.open('http://www.sergibyte.com', '_system');"><img src="img/logonombre-L.png" id="logo-credits"></a>
      </div>
    </div>
    <div class="card credits-card">
      <div class="item item-text-wrap">
        Jokes and API by <br /><a href="#" onclick="window.open('http://www.icndb.com/','_system');">The Internet Chuck Norris Database</a>
      </div>
    </div>
    <div class="card credits-card">
      <div class="item item-text-wrap">
        Built with <br /><a href="#" onclick="window.open('http://www.ionicframework.com/','_system');"><img src="img/ionic.png" id="ionic-logo"><br>Ionic Framework</a>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
